<ons-navigator ng-controller="MapController">
    <ons-page ng-init="refreshMap()">
        <ons-toolbar>
            <div class="left">
                <ons-toolbar-button ng-click="slidingMenu.toggleMenu()">
                    <ons-icon icon="bars"></ons-icon>
                </ons-toolbar-button>
            </div>
            <div class="center">Map</div>
        </ons-toolbar>

        <div id="map_canvas"></div>
        <p id="trackingStatus" class="center_text">Workout Stoped</p>

        <div style="text-align: center">
            <canvas id="clock" class="circle_canvas"></canvas>
            <canvas id="track_info_info" class="circle_canvas">Tracking info</canvas>



        </div>
        <p id="points" class="center_text">Points : 0</p>
        <br>

        <p class="par-buttons">
            <ons-button id="btn-startWorkout" ng-click="startWorkout($event)">
                Start Workout
            </ons-button>
            <ons-button id="btn-stopWorkout" ng-click="stopWorkout($event)">
                Stop Workout
            </ons-button>
            <br>
            <br>

            <ons-button id="btn-showQuestion" ng-click="openNotify($event)">
                Show Question
            </ons-button>
        </p>
        <div style="width: 100%; overflow: hidden;">

            <div id="audiAnimID"></div>
            <div id="pacmanAnimID"></div>

        </div>
        <canvas id="line" class="chart chart-line" data="data"
                labels="labels" legend="true" series="series"
                click="onClick">
        </canvas>


    </ons-page>

</ons-navigator>
