<!-- icon=ion-checkmark-round - dobrze -->
<!-- ion-close-round -zle -->

<div style="text-align: center">

	<code style="color: white"> {{question}}</code>
	<br> <br>

	<ons-icon ng-hide="isAns" id="btnIcon-A" icon={{iconA}}></ons-icon>
	<ons-button id="btn-A" ng-click="btnClicked('a')"> {{A}} </ons-button>

	<br> <br>

	<ons-icon ng-hide="isAns" id="btnIcon-B" icon={{iconB}}></ons-icon>
	<ons-button id="btn-B" ng-click="btnClicked('b')"> {{B}} </ons-button>

	<br> <br>

	<ons-icon ng-hide="isAns" id="btnIcon-C" icon={{iconC}}></ons-icon>
	<ons-button id="btn-C" ng-click="btnClicked('c')"> {{C}} </ons-button>

</div>

<!--<p>External modal template with external scope: <code>{{value}}</code></p>-->